// app global css in SCSS form
body {
  background-color: #e0f2f1;
}

/**
* vue uploader
*/

.vicp-img {
  max-width: unset !important;
}

@media (max-width: 640px) {
  .vicp-wrap {
    width: 100% !important;
    max-width: 400px;
    height: auto !important;
    max-height: 450px;
    border-radius: 5px !important;
  }

  .vicp-step2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .vicp-crop {
    margin-left: auto;
    margin-right: auto;
  }

  .vicp-crop-left {
    display: block !important;
    float: none !important;
  }

  .vicp-crop-right {
    display: block !important;
    float: none !important;
  }

  .vicp-preview {
    height: auto !important;
    display: flex;
    justify-content: center;
  }

  .vicp-preview-item {
    display: inline-block;
  }

  .vicp-close {
    right: 5px !important;
  }
}
